body {
  margin: 0;
  min-width: 490px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar li a:hover {
  color:#D2F0F7;
}

.redBg {
  background-color: #a41d33;
  color: white;
}

.containerIntro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.introImg {
  flex: 65%;
  line-height: 0;
}

.introImg img {
  width: 60vw;
  min-width: 500px;
  margin: 0;
}

.introText {
  flex: 35%;
  font-size: 1.8em;
  padding-bottom: 1em;
}

.introDescription {
  font-size: 0.7em;
}

.btnDownloadResume {
  color: white;
  font-size: 0.5em;
  background: transparent;
  border-radius: 5px;
  padding: 1em 2em;
  font-family: introFont;
  cursor: pointer;
  transition: background-color 0.2s linear, border-color 0.2s linear;
  border: white solid 1px;
}

.btnDownloadResume:hover {
  background-color: #93d4ea;
  border-color: #93d4ea;
  transition: background-color 0.2s linear, border-color 0.2s linear;

}

@media (max-width: 800px) {
  .introImg img {
    width: 100vw;
  }
  .introText {
    margin-top: -1em;
    padding: 0 1em 1em 1em;
  }
}