header {
  display: flex;
  justify-content: space-around;
  margin: 0 4vw; 
}

.nameHolland {
  flex: 50%;
  letter-spacing: 0.1em;
  font-size: 1.75em;
}

.navbar {
  flex: 50%;
  text-align: right;
  font-size: 1.4em;
  margin-top: 0.75em;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
}