body {
  margin: 0;
  min-width: 555px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar li a:hover {
  color: #a41d33;
}

.nameHolland {
  color: #a41d33;
}


.firstView {
  fill: #595737;
  text-align: center;
  height: 860px;
  line-height: 4em;
}

svg {
  max-width: 90vw;
  min-width: 555px;
  height: 580px;
}

.contentMainImg {
  margin-top: -550px;
  font-size: 1.5em;
  color: white;
}

.logoWork {
  display: inline-block !important;
  transform: translate3d(-0.25em, 0.8em, 0);
}

.overTextWork {
  font-family: navbarFont;
}

.textTitleWork {
  display: inline-block;
  font-family: introFont;
  font-size: 2em;
}
.textWork {
  font-family: introFont;
  margin-bottom: 2em !important;
}

.contentMainImg * {
  display: block;
  margin: auto;
}

.imgWork {
  max-width: 95vw;
  box-shadow: black 1px 1px 5px;
}

.imgWorkContainer {
  display: inline-block;
  position: relative;
  background-color: white;
}
.imgWorkContainer::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  opacity: 0;
  transition: opacity 0.3s linear;
  pointer-events: none;
}

.imgWorkContainer:hover::before {
  opacity: 1;
}

.footerText {
  font-family: Roboto-Thin;
  font-weight: bold;
  color: black;
  font-style: italic;
  font-size: 0.5em;
  color: #605E5E;
  line-height: 1em;
}
.footerTextContent {
  display: block;
  text-align: center;
  font-size: 0.75em;
  line-height: 3em;
}

.contentProject {
  width: 70vw;
  min-width: 50ch;
  margin: auto;
  font-family: helvetica-w01-light;
}

.summaryData {
  display: flex;  
}

.leftData, .rightData {
  flex: 45%;
}

.rightData {
  margin-left: 10vw;
}
.rightData ul {
  list-style-type: circle;
}

.text {
  margin-top: 5em;
  text-align: justify;
}

.summaryData .leftData .text, .summaryData .rightData .text {
  margin: 0;
}

.media {
  display: block;
  margin: auto;
  max-width: 80vw;
}

.scan {
  transform: rotate3d(0,0,1,-90deg);
  max-height: 95vw;
}

.italic {
  font-style: italic;
  display: inline-block;
  margin: 1em 0;
}

.bottomNavbar {
  text-align: center;
  font-size: 1em;
  margin-top: 5em;
}

.bottomNavbar ul {
  padding: 0;
}

.bottomNavbar ul li a {
  margin: 0 1em;
  color: #E3E3E3;
  transition: color 0.2s linear;
}

.bottomNavbar ul li a:hover {
  color: black;
  transition: color 0.2s linear;
}